body {
    color: black;
    background: white;
    margin: auto;
    width: 1024px;
    font-size: 16px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#title {
    font: 400 64px 'Oleo Script', Helvetica, sans-serif;
    color: black;
    text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.2);
}
.all_elems{
    width:1300px;
    display:box;
    /* Firefox */
    display:-moz-box;
    -moz-box-orient:horizontal;
     /* Safari, Opera, and Chrome */
    display:-webkit-box;
    -webkit-box-orient:horizontal;
    /* W3C */
    display:box;
    box-orient:horizontal;
}

.all_elems .main {
    box-flex:1.0;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: auto 4fr 1fr auto auto;
    grid-template-areas: "word word word""info drawing drawing""utils drawing drawing""msg msg msg""turns turns turns";

    border-radius: 6px;
    border-left:solid 2px #999fff;
    box-shadow: 0 0 6px #ccc;
    padding: 10px;

    moz-box-flex:1.0; /* Firefox */
    -webkit-box-flex:1.0; /* Safari and Chrome */
    -ms-flex:1.0; /* Internet Explorer 10 */
    box-flex:1.0;
}

.word {
    grid-area: word;
    border-radius: 6px;
    border-top:solid 3px #999fff;
    border-bottom:solid 3px #999fff;
    border-right:solid 3px #999fff;

    box-shadow: 0 0 6px #ccc;

    font: 400 32px 'Oleo Script', Helvetica, sans-serif;
    color: black;
    padding: 4px;
}

.info {
    grid-area: info;
    display: flex;
    justify-content: center;
    align-items: center;
    font: 400 16px 'Oleo Script', Helvetica, sans-serif;
    color: green;
    padding: 4px;
    font-weight: bold;
}

.drawing {
    grid-area: drawing;
    border-radius: 6px;
    border-left: solid 2px #999fff;
    border-right: solid 2px #999fff;

    box-shadow: 0 0 6px #ccc;
}

.canvas {
    width: 100%;
    height: 100%;
}

.msg {
    grid-area: msg;
    border-radius: 6px;
    border-top: solid 2px #999fff;
    border-right: solid 2px #999fff;

    box-shadow: 0 0 6px #ccc;
    padding: 4px;

}
.gif{
    opacity:1;
   background-color:#ccc;
   position:fixed;
   width:100%;
   height:100%;
   top:0px;
   left:0px;
   z-index:1000;
}

#msgID {
    border: 2px solid  #999fff;
    border-radius: 4px;
    font-size: 16px;
    width: 99%;
}

.turns {
    grid-area: turns;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    border: solid 2px #999fff;

    box-shadow: 0 0 6px #ccc;

}

.utils {
    grid-area: utils;
    border-radius: 6px;
    border-top: solid 2px #999fff;
    border-left: solid 2px #999fff;

    box-shadow: 0 0 6px #ccc;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "uc""color""size";
}

.uc {
    grid-area: uc;
    padding: 4px;
}

.color {
    grid-area: color;
    padding: 4px;
}

.size {
    grid-area: size;
    padding: 4px;
}

#colorID {
    width: 128px;
}
.card-img-top{
  border-radius:50%;
  border:solid 2px #999fff;

}
.modal-content {
    background-color: #87CEFA;
    font-family: 'Montserrat', sans-serif;
    height: 100%;
}

.modal-title {
    text-align: center;
    margin-top: 10px;
    padding-top: 10px;
}
.player-card {
    width: 50%;
    border-bottom-width: 5px;
    border-color: black;
    font-weight: bold;
}

.scoreBoard {
    display: inline-block;
    width: 80px;
    border-radius: 16px;
    overflow: hidden;
    background: linear-gradient(to bottom, #A1FFCE, #FAFFD1);
    padding: 4px;
    vertical-align: middle;
    font-weight: bold;
    cursor: pointer;
}

.playerCard {
    display: inline-block;
    float: left;
}

#drawingPlayerCard .scoreBoard {
    border: solid black;
}

/*https://codepen.io/saeedalipoor/pen/NPyeog*/
.arrowRight {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    box-sizing: border-box;
    transform: rotate(45deg);
    width: 16px;
    height: 16px;
    border-width: 4px 4px 0 0;
    border-style: solid;
    margin-right: 8px;
}

.endOfRound {
    display: inline-block;
    width: 128px;
    border-radius: 16px;
    overflow: hidden;
    background: linear-gradient(to bottom, #A1FFCE, #FAFFD1);
    color: red;
    float: left;
    padding: 16px;
}

#usernameID {
    padding: 4px;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 32px;
}
